# Database URI
DATABASE_LOCAL = mongodb+srv://<username>:<password>@cluster0.gw4kfjc.mongodb.net
DATABASE_PROD = mongodb+srv://username:password@cluster0.gw4kfjc.mongodb.net

# DB Credentials
DB_NAME = dbName
DB_USER = dbUser
DB_PASS = dbPass

# Node Environment
NODE_ENV = development

# CLIENT SIDE URL
CLIENT = http://localhost:5173

# Access Token
ACCESS_TOKEN = token


# model --> api/v1 --> Route --> app.js